@import "../../../../node_modules/compass-sass-mixins/lib/compass";
@import "../variables-tickon";

li .active {
    color: #fff;
}
.link-modulo:hover {
    background: rgba(255,255,255,0.1);
}


.link-modulo {
    padding: 0 0 0 20px;
    display: block;
    width: 100%;
    height: 100%;
}

.link-modulo:hover {
    color: #ccc;
}



.link-modulo.active {
    border-radius: 0 13px 13px 0;
    color: #fff;
    height: 26px;
    position: relative;
    line-height: 25px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.contenido-adicional {
    color:rgba(255,255,255,0.8);
    width: 18px;
    display: block;
    height: 100%;
    font-size: 9px;
    padding: 0px 7px;
    position:absolute;
    z-index:20;
}
.contenido-adicional span{
    line-height: 20px;
}


a {
    color: #aaa;
}

.link-modulo{
    color: $color1TextoGui;
}




/*menu desplegable */

.link-modulo-desplegable:hover .contenido-adicional {
    color:rgba(255,255,255,1);
}

.link-modulo-desplegable{
    overflow:hidden;
    display:block;
    position: absolute;
    left: 215px;
    top: 2px;
    max-width: 22px;
    display: block;
    max-height: 22px;
    border-radius: 13px;
}
.link-modulo-desplegable:hover {
    color: #fff;
    background:rgba(180,180,180,0.3);
}

.link-modulo-desplegable.opened{
    border-radius:0px;
    overflow:visible;
    color:#aaa;
    max-width: 300px;
    display: block;
    max-height:600px;
    z-index:30;
    @include box-shadow (#000 0 2px 20px -6px);
}

.link-modulo-desplegable ul{
    margin-left:23px;
    padding:0px 0 0px 0px;
    background:rgba(40,40,40,0);
    @include transition-property (padding);
    @include transition-duration (0.2s);
    background:rgba(40,40,40,1);
}
.link-modulo-desplegable.opened  ul{
    margin-left:0px;
    padding:0px 0px 0px 18px;
}
.link-modulo-desplegable li{
    position:relative;
    padding:2px 26px 2px 18px;
    height:28px;
    line-height:22px;
    margin:0;
    display:block;
    color:#aaa;
    white-space: nowrap;    
}
.link-modulo-desplegable li:hover{
    background:#444;

}
.link-modulo-desplegable li > a{
    display: block;
    padding: 0px 26px 0 18px;
    margin: 0px -26px 0 -18px;
}
.link-modulo-desplegable li > a:hover{
    color:#fff;
}

.link-modulo-desplegable.opened > ul ul {
    @include box-shadow (#000 0 2px 20px -6px);
    position:absolute;
    left:100%;
    top:0px;
    padding:0;
}
.link-modulo-desplegable li:hover > ul {

}
.link-modulo-desplegable li > ul li{
    padding:0px;
    overflow:hidden;
    width:0;
}
.link-modulo-desplegable li:hover > ul > li{
    -moz-transition-property: padding-left;
    -o-transition-property:  padding-left;
    -webkit-transition-property: padding-left;
    transition-property:  padding-left;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    overflow:visible;
    width:auto;
    padding:2px 26px 2px 18px;
    display:block;
}
.link-modulo-desplegable li > ul:before{
    pointer-events:none;
    content: "\e250";
    font-family: 'Glyphicons Halflings';
    margin-left: -19px;
    position: absolute;
    font-size: 9px;
    font-weight: bold;
    line-height: 28px;
    color: #999;
}

